body{
    background: linear-gradient(to right, #4286f4, #4253f4);
}
.form-login{
    margin-top: 10%;
}
.image{
    margin-top: 13%;
    margin-left: 20%;
}
.outter-form-login {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 75px;
    background: #D3D3D3;
    position: fixed;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 5px #888888;
}

.inner-login .form-control {
    background: WHITE;
    border-radius: 20px;
    width: 100%;
    padding-right: 150px;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-green {
    background: #4155f4;
    color: #fff;
    border-radius: 20px;
}